.footer-section{
    border-top: 1px var(--color-white-50) solid;
    margin-block: 0;
    padding-block: 2em;
}

.footer-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.links1{

}

.links2{

}

.links3{
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}