.image-modal{
    display: none;
}

.open-modal{
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    flex-direction: column;
    transition: 150ms ease-in;
    animation: 150ms fade-in ease-in;
    cursor: zoom-out;
}

.image-showcase{
    position: relative;
    margin-block: 1em;
}

.image-showcase img{
    aspect-ratio: 1 / 1.25 ;
    object-fit: cover;
    filter: brightness(0.725);
    opacity: 85%;
    transition: 500ms;
}

.image-showcase img:hover{
    filter: brightness(1);
}

.title-text, .title-text2{
    position: absolute;
    margin: 1em;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 0.75rem, 1rem);
    background-color: var(--color-darkblue-50);
    color: var(--color-white-100);
    z-index: 1;
}

.title-text{ right: 0; top: 0;}

.title-text2{ left: 0; bottom: 0;}

@keyframes fade-in {
  0% { filter: brightness(0.1);}
  100% { filter: brightness(1); }
}

.open-modal img{
    width: 100%;
}

.open-modal ~.overlay{
    display: block;
}

@media screen and (max-width: 1350px) {    
.open-modal{
    width: 70%;
}
}

@media screen and (max-width: 500px) {    
.open-modal{
    width: 100%;
}

.image-showcase img{
    aspect-ratio: 1 / 1;
}
}





