.galleryimage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 2em;
}

.galleryimage img{
    object-fit: cover;
    max-width: 100%;
    cursor: zoom-in;
}

.image-modal{
    display: none;
}

.open-modal{
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    flex-direction: column;
    transition: 150ms ease-in;
    animation: 150ms fade-in ease-in;
    cursor: zoom-out;
}

@keyframes fade-in {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

.open-modal img{
    max-width: 100%;
}

.open-modal ~.overlay{
    display: block;
}

@media screen and (max-width: 500px) {    
.open-modal{
    width: 100%;
}
}



