.parent {
    margin-block: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2em;
    justify-content: space-around;
}

.image-section{
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    gap: 0.5rem;
}

.image-section::after{
    content: '';
    border-top: var(--color-white-100) 1px solid;
}

@media screen and (max-width: 500px) {    
.parent {
    grid-template-columns: repeat(1, 1fr);
}
}