.about-section{
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    margin: 0.5rem;
}

.about-section::after{
    content: '';
    border-top: var(--color-white-100) 1px solid;
}

.about-layout{
    display: flex;
    gap: 1em;
    margin-block: 1em;
}

.about-me1{
    flex-grow: 1;
    padding: 2em 3em;
    width: fit-content;
    border: 1px var(--color-white-100) solid;
}

.about-me1 img{
    aspect-ratio: 3 / 5;
}

.about-me2{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-wrap: auto;
}

.about-description{
    flex-grow: 2;
    border: 1px var(--color-white-100) solid;
    padding: 2em;
}

.about-hobbies{
    flex-grow: 1;
    border: 1px var(--color-white-100) solid;
    padding: 2em;
}