.about-section{
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    margin: 0.5rem;
}

.about-section::after{
    content: '';
    border-top: var(--color-white-100) 1px solid;
}

.about-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    margin-block: 1em;
}

.about-me1{
    padding: 2em 3em;
    justify-content: center;
    border: 1px var(--color-white-100) solid;
}

.about-me1 img{
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.about-me2{
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-wrap: auto;
}

.about-description{
    flex-grow: 2;
    border: 1px var(--color-white-100) solid;
    padding: 2em;
}

.about-hobbies{
    flex-grow: 1;
    border: 1px var(--color-white-100) solid;
    padding: 2em;
}

@media screen and (max-width: 900px) {    

.about-layout{
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr)); 
    gap: 1em 0;
}

}