@import 'tailwindcss';

.character-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    margin-block: 1em;
}

.group-intro h3{
    font-family: Onder;
    font-size: clamp(1rem, 2rem, 2vw);
    line-height: 1.5;
}

.character-profile{
    padding: 2em 3em;
    justify-content: center;
    border: 1px var(--color-white-100) solid;
}

.character-profile img{
    min-width: 200px;
    object-fit: cover;
}

.character-detail{
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-wrap: auto;
    max-width: 600px;
}

.detail-box{
    border: var(--border);
    flex-grow: 1;
    padding: 1em 2em;
    font-family: Onder;
}

.detail-box p{ 
    font-family: Onder; 
    font-size: clamp(0.75rem, 1.5rem, 2rem);
    line-height: 1.5;
}

.extra-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    margin-block: 1em;
}

.main-accessory{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-accessory > h3, .main-accessory h3 > small {
    background-color: var(--color-white-50);
    color: var(--color-darkblue-50);
}

.accessory{
    justify-content: center;
    align-content: center;
    border: 1px var(--color-white-100) solid;
    padding: 2em;
}

.accessory img, .extra-accessory img{
    margin-left: auto;
    margin-right: auto;
    max-height: 1000px;
    object-fit: contain;
}

.extra-accessory{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: 1px var(--color-white-100) solid;
    padding: 4em;
    text-align: center;
}

.extras-section{
    margin-block: 2em;
}

.extras-gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    padding-block: 2em;
}

.extras-gallery img {
    max-width: 100%;
    width: max-content;
}

@media screen and (max-width: 700px) {    

.character-info{
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr)); 
    gap: 1em 0;
}

.extra-info{
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr)); 
    gap: 1em 0;
}

}