.character-card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    border: var(--color-white-100) 1px solid;
    padding: 2em 2em 4em 2em;
    position: relative;
    height: fit-content;
    gap: 0;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-darkblue-50);
}

.character-card .charlink{
    cursor: pointer;
}

.character-card img{
    aspect-ratio: 2 / 2;
    width: 15em;
}

.member-no{
    font-size: clamp(3.75rem, 10rem, 12vw);
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: -4px;
    left: -1px;
}

.character-details{
    background-color: var(--color-white-50);
    color: var(--color-darkblue-50);
    margin-block: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: 150ms ease-in;
}

.character-details h4{
    font-family: Onder;
    font-size: clamp(1rem, 2rem, 4rem);
    line-height: 1em;
}

.character-details h4 small{
    font-family: Ubuntu Mono;
    font-size: clamp(0.45rem, 0.75rem, 1rem);
}

.character-details small{
    font-family: a4b03;
    color: var(--color-darkblue-50);
    font-size: clamp(0.5rem, 0.90rem, 1.25rem);
}

.character-details:hover{
    color: var(--color-white-50);
    background-color: var(--color-darkblue-50);
}

.character-details:hover small{
    color: var(--color-white-50);
}

@media screen and (max-width: 900px) {  
    .character-card{
            padding: 2em;
    }
}