@import "tailwindcss";

header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  height: 5rem;
  font-size: 1rem;
  z-index: 5;
  overflow: hidden;
  background-color: var(--color-darkblue-50);
  border-bottom: 1px solid var(--color-white-100);
}

.cta {
  color: var(--color-white-50);
  background: linear-gradient(to right, var(--color-white-50) 50%, var(--color-lavender-50) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: 100ms ease-out;
  padding: 0.5rem 2rem;
  align-self: center;
  font-weight: 500;
  transition: 0.15s ease;
  cursor: default;
}

.cta:hover {
  background-position: 0 100%;
  color: var(--color-darkblue-50);
}

.logo {
  color: var(--color-white-50);
  font-weight: 1000;
}

.nav_links{
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 2rem;
  cursor: pointer;
}

.nav_links li a {color: var(--color-white-50); transition: 0.15s ease;}

.nav_links li a:hover {color: var(--color-white-100);}

.hamburger-button { margin: min(2em, 4%) min(4em, 8%); margin-left: auto;  display: none; cursor: pointer; position: sticky; top: min(2em, 4%); z-index: 5;}

.hamburger-icon { width: 1.5em; height: 1px; background-color: var(--color-white-50); margin: 6px 0;}

.close-button{ margin: min(2.25rem) min(1.75rem); margin-left: auto; display: none; cursor: pointer; position: absolute; top: 0; right: 0;}

.overlay{
  background: #000000;
background: linear-gradient(0deg,rgba(0, 0, 0, 0.9) 0%, rgba(33, 33, 33, 0.42) 50%, rgba(0, 0, 0, 0.9) 100%);
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10;
}

@media screen and (max-width: 900px) {
header{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    font-size: 1rem;
    z-index: 15;
    border-left: solid 1px var(--color-white-50);
    border-bottom: none;
    flex-direction: column;
    align-items: start;
    transition: right 200ms ease;
    padding: 6rem 2rem;
}

.show{right: 0;}

.show ~.overlay{
  display: block;
}

nav{width: 100%;}

.nav_links li { padding: 0 0 2em 0; display: flex; flex-direction: column; align-items: start; align-self: flex-start; width: 100%;}

.nav_links li a{ font-size: 1rem; width: 100%; text-align: center;}

.logo { display: none; }

.nav_links{ width: 100%; padding: 0 0; }

.hamburger-button, .close-button{ display: block; }


}